:root {
    --black: #161616;
    --red: #a9031e;
    --yellow: #ffb501;
    --white: #fcfcfc;
    --brown: #740013;
    --gray: #efefef;
    --large: 64px;
    --big: 48px;
    --medium: 32px;
    --small: 24px;
    --tiny: 18px;
    --bold: 700;
    --normal: 500;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.bg-red {
    background-color: var(--red);
}

.text-white,
.navbar-toggler,
.list-icon {
    color: var(--white);
}

.list-icon {
    font-size: var(--small);
}

.text-yellow {
    color: var(--yellow);
}

.full-screen {
    padding-top: 10vh;
    height: 100%;
    min-height: 100vh;
}

.title {
    font-style: italic;
    font-size: var(--large);
    font-weight: var(--bold);
}

.best-seller {
    font-style: italic;
    font-weight: var(--normal);
}

.long-btn {
    padding: 8px 100px;
}

.btn-black {
    border-radius: 0;
    border-width: 2.5px;
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.btn-black:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.bg-white {
    background-color: var(--white) !important;
}

.text-black {
    color: var(--black);
}

.short-about-us,
.food-desc {
    font-style: italic;
    text-align: justify;
    font-size: var(--tiny);
}

.btn-red {
    border-radius: 0;
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}

.btn-red:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}

.social-media {
    font-size: var(--medium);
    color: var(--white);
}

.social-media:hover {
    color: var(--yellow);
}

.copyright {
    opacity: 30%;
}

.pt-sm-5 {
    padding-top: 50px;
}

.center-of-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-gray {
    background-color: var(--gray);
}

.text-brown {
    color: var(--brown);
}

.bar-title {
    font-size: var(--small);
    font-weight: var(--bold);
}

.bar-container {
    width: 100%;
    background-color: var(--black);
    border-radius: 6px;
}

.bar {
    height: var(--tiny);
    background-color: var(--brown);
    border-radius: 6px;
}

.bar-89 {
    width: 89%;
}

.bar-92 {
    width: 92%;
}

.bar-83 {
    width: 83%;
}

.subtitle {
    font-style: italic;
    font-size: var(--big);
    font-weight: var(--bold);
}

.card {
    border: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.3);
}

.food-name {
    color: var(--black);
    font-size: var(--small);
}

.food-price {
    color: var(--red);
    font-size: var(--medium);
    font-weight: var(--bold);
}

.btn-red-border {
    border-radius: 0;
    border-width: 2.5px;
    border-color: var(--red);
    color: var(--red);
    font-weight: var(--bold);
    width: 100%;
}

.btn-red-border:hover {
    background-color: var(--red);
    color: var(--white);
}

/* ///// */

.body-login-register{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--brown);
}

.login-register-container{
    position: relative;
    height: 80vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
}

.register{
    top: 5vh;
    left: 0;
    width: 55vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.login{
    /* top: 5vh; */
    left: 0;
    width: 35vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.login-form, .register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 2vw;
}

.panel{
    align-items: center;
}

.login-input-field{
    width: 120%;
    height: 50px;
    background: #fcfcfc;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* padding: 0 1vw; */
}

.login-input-field i{
    flex: 1;
    margin: 0 1vw;
    text-align: center;
    color: #777;
    font-size: 18px;
}

.login-input-field input{
    background: none;
    border: none;
    outline: none;
    /* width: 100%; */
    margin: 0 1vw;
    font-size: 15px;
    font-weight: 500;
    color: #444;
}

.social-text{
    margin: 2vh 0;
    font-size: 16px;
}

.social-media-btn{
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
    text-decoration: none;
}

.social-icon:hover{
    color: var(--red);
    border-color: var(--red);
}
